<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/cyberCrime_style.css">
</head>

<body class="roboto-regular">
  <header>
    <h1>Learn About Cybercrimes</h1>
  </header>

  <div class="container">
    <button class="collapsible">1. Phishing:</button>
    <div class="content">
      <p>Phishing involves fraudulent attempts to obtain sensitive information, such as usernames, passwords, and credit
        card details, by masquerading as a trustworthy entity in electronic communication. Attackers often use deceptive
        emails or websites to lure victims into revealing their personal data, which can lead to identity theft or
        financial losses.</p>
    </div>

    <button class="collapsible">2. Theft:</button>
    <div class="content">
      <p>Cyber theft refers to the unauthorized acquisition of digital assets or sensitive information. This can include
        stealing financial data, intellectual property, or personal information for illicit purposes. Cyber thieves may
        exploit vulnerabilities in systems or use various tactics like hacking or social engineering to gain access to
        valuable assets.</p>
    </div>

    <button class="collapsible">3. Ransomware Attacks:</button>
    <div class="content">
      <p>Ransomware attacks involve malicious software that encrypts a victim's files or entire systems, rendering them
        inaccessible until a ransom is paid. Perpetrators demand payment, usually in cryptocurrency, in exchange for
        providing decryption keys. These attacks can cause significant financial losses and disrupt operations for
        individuals and organizations.</p>
    </div>

    <button class="collapsible">4. Malware:</button>
    <div class="content">
      <p>Malware, short for malicious software, encompasses various types of harmful software designed to disrupt,
        damage, or gain unauthorized access to computer systems. This includes viruses, worms, Trojans, ransomware, and
        spyware. Malware can be spread through infected files, email attachments, malicious websites, or removable
        media, compromising the security and integrity of devices and networks.</p>
    </div>

    <button class="collapsible">5. Denial-of-Service(DOS) and Distributed Denial-of-Service(DDOS) Attacks:</button>
    <div class="content">
      <p>Denail of services attack is an attack intended for denying access to computer resource without
        permission of the owner. Distributed Denial of Service (DDoS) attacks aim to disrupt the normal functioning of a
        computer system, network, or website by overwhelming it with a flood of traffic from multiple sources. Attackers
        typically use botnets, networks of compromised devices controlled remotely, to generate massive amounts of
        traffic and exhaust the target's resources, rendering it inaccessible to legitimate users. DDoS attacks can
        disrupt business operations, cause financial losses, and tarnish the reputation of targeted organizations.</p>
    </div>

    <button class="collapsible">6. Cyber Espionage:</button>
    <div class="content">
      <p>Cyber espionage involves the unauthorized access and theft of confidential information, trade secrets, or
        intellectual property from governments, businesses, or individuals for political, economic, or strategic
        purposes. State-sponsored hackers, criminal organizations, or competitors may use sophisticated techniques, such
        as malware implants, network infiltration, or social engineering, to infiltrate and exfiltrate sensitive data,
        posing significant threats to national security and economic stability.</p>
    </div>

    <button class="collapsible">7. Social Engineering:</button>
    <div class="content">
      <p>Social engineering tactics exploit human psychology to manipulate individuals into divulging confidential
        information or performing actions that compromise security. Perpetrators often impersonate trusted entities, use
        persuasive communication, or exploit emotions like fear or curiosity to deceive victims into disclosing
        sensitive information or granting access to restricted systems.</p>
    </div>

    <button class="collapsible">8. Credit card Fraud:</button>
    <div class="content">
      <p>Credit card fraud involves the unauthorized use of credit or debit card information to make fraudulent
        purchases or transactions. Perpetrators may obtain card details through various means such as phishing, hacking,
        or skimming devices. This type of fraud can result in financial losses for both cardholders and financial
        institutions.</p>
    </div>

    <button class="collapsible">9. Online Scams and Fraud:</button>
    <div class="content">
      <p>Online scams and fraud encompass a wide range of deceptive practices conducted over the internet to defraud
        individuals or organizations. These scams can include investment fraud, romance scams, fake charity schemes, and
        phishing scams. Perpetrators often use false identities, fake websites, or misleading promises to deceive
        victims and illicitly obtain money or sensitive information.</p>
    </div>

    <button class="collapsible">10. Data Breaches:</button>
    <div class="content">
      <p>Data breaches involve unauthorized access to sensitive or confidential information stored electronically.
        Perpetrators may exploit security vulnerabilities, malware, or insider threats to gain access to databases or
        systems containing valuable data. Data breaches can result in financial losses, reputational damage, and legal
        consequences for affected individuals or organizations.</p>
    </div>

    <button class="collapsible">11. Child Exploitation:</button>
    <div class="content">
      <p>Child exploitation refers to the use of children in pornography, sex trafficking, or other forms of
        exploitation facilitated through digital means. Perpetrators may groom children online, exchange illicit images
        or videos, or lure victims into dangerous situations using social media or messaging platforms. This type of
        crime poses significant risks to children's safety and well-being.</p>
    </div>

    <button class="collapsible">12. Cyberbullying:</button>
    <div class="content">
      <p>Cyberbullying refers to the use of digital communication tools, such as social media, messaging apps, or online
        forums, to harass, intimidate, or humiliate individuals. This can take the form of spreading rumors, posting
        offensive messages or images, impersonating someone online, or engaging in targeted attacks. Cyberbullying can
        have serious emotional, psychological, and even physical consequences for victims.</p>
    </div>

    <button class="collapsible">13. Hacking:</button>
    <div class="content">
      <p>Hacking refers to gaining unauthorized access to computer systems, networks, or devices to manipulate or steal
        data, disrupt operations, or cause damage. Hackers employ various techniques such as exploiting software
        vulnerabilities, brute force attacks, or social engineering tactics to breach security defenses and compromise
        targeted systems.</p>
    </div>

    <button class="collapsible">14. Cryptojacking:</button>
    <div class="content">
      <p>Cryptojacking involves unauthorized use of someone else's computer or device to mine cryptocurrency without
        their consent. Perpetrators typically deploy malicious software or scripts that hijack system resources to mine
        cryptocurrency, slowing down devices and consuming electricity. Cryptojacking can result in reduced device
        performance, increased energy costs, and compromised security.</p>
    </div>

    <button class="collapsible">15. Intellectual Property Theft:</button>
    <div class="content">
      <p>Intellectual property theft involves unauthorized use, reproduction, or distribution of copyrighted material,
        trademarks, trade secrets, or patents. Perpetrators may steal intellectual property for financial gain,
        competitive advantage, or malicious purposes. This type of theft can result in financial losses, damage to
        reputation, and legal consequences for affected individuals or businesses..</p>
    </div>
  </div>
  <script src="/js/cyberScript.js"></script>
</body>

</html>