<!DOCTYPE html>
<html>

<head>
     <title>FAQ</title>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
     <link rel="stylesheet" href="/css/faq_style.css">
</head>

<body class="roboto-light">
     <h1>FAQ (Frequently Asked Questions)</h1>
     <div class="element">
          <div id="para">
               <p class="question">What is the purpose of the online crime reporting website?</p>
               <p>The online crime reporting website is a platform designed to allow users to report non-emergency
                    crimes or incidents online, providing a convenient and efficient way to communicate with law
                    enforcement.</p>
          </div>
          <div id="para">
               <p class="question">What types of incidents can be reported online?</p>
               <p>You can use the online reporting system for non-emergency incidents such as vandalism, theft, lost
                    property, harassing phone calls, and other minor crimes.</p>
          </div>
          <div id="para">
               <p class="question">When should I use the online reporting system?</p>
               <p>The online reporting system is ideal for incidents that do not require immediate police attention. If
                    it's an emergency or if a crime is in progress, please call 911 or your local emergency number.</p>
          </div>
          <div id="para">
               <b>How do I submit an online crime report?</b>
               <p>To submit a report, navigate to the "Report a Crime" section on our website
                    and follow the step-by-step instructions. Provide accurate and detailed information
                    about the incident.
               </p>
          </div>
          <div id="para">
               <b>What information should I include in my online report?</b>
               <p>Include as much information as possible, such as the date, time, location,
                    description of the incident, and any relevant details about the individuals involved.
                    Attach photos or documents if available.
               </p>
          </div>
          <div id="para">
               <b>Is my personal information secure when using the online reporting system?</b>
               <p>We take your privacy seriously. Your personal information is stored securely, and access is restricted
                    to authorized personnel only.</p>
          </div>
          <div id="para">
               <b>What should I do if I made an error in my online report? </b>
               <p>If you made a mistake or need to update your report, please contact our support team at
                    [crimeReports@gmail.com]
                    with your reference number.</p>
          </div>
          <div id="para">
               <b>Can I track the status of my online report?</b>
               <p>submitted, you may receive a unique reference number. You can use this number to check the status of
                    your report or communicate with law enforcement if necessary.</p>
          </div>
     </div>
</body>

</html>