<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crimeReports - Online Crime Reporting</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main" id="main">
        <div class="navbar">
            <h1>crimeReports</h1>
            <div class="mssg">
                <!-- <i class="fa-solid fa-bars"></i> -->
                <div class="container" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        </div>

        <div class="sidenav" id="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/report">Report Crime</a>
            <a href="/faq">FAQs</a>
            <a href="/saftytips">Safety Tips</a>
            <a href="/cyberCrimes">Cyber Crimes</a>
            <a href="/contact">Contact</a>
            <a href="/complaintId">Get Complaint ID</a>
            <a href="/status">Check Status</a>
        </div>

        <div class="body1">
            <div id="part1" class="part1">
                <h1>ENSURE A SAFE COMMUNITY</h1>
                <p>Our user-friendly interface makes reporting a breeze, ensuring that your concerns are addressed
                    properly.</p>
                <button>Get Started</button>
            </div>
            <div class="part2">
                <!-- <img src="/images/dicons.png" alt="file"> -->
                <img src="/images/icons@2x.png" alt="file">
                <!-- <img src="/images/magnifying glass.webp" alt="file"> -->
            </div>
        </div>

        <div class="body2">
            <div class="part">
                <p>Your trusted online platform for reporting and addressing crime in out community. Our mission is to
                    empower individuals to contribute to a safer environment by providing a user-friendly and
                    confidential avenue for reporting incidents.</p>
                <br>
                <a href="/about">Learn More</a>
            </div>
        </div>
        <!-- <img src="/images/Section2bgTransparent.png" alt="bg"> -->

        <div class="section">
            <div class="Card">
                <h4>File a Complain</h4>
                <p>We value your feedback and are committed to addressing any concerns you may have. Your input helps us
                    improve our services and ensure a better experience for all our users.</p>
                <button onclick="report()">Proceed to complain  &#10148;</button>
            </div>
        </div>

        <div class="statsection">
            <div class="card">
                <h4>Explore Crime Statistics</h4>
                <p>Stay informed about crime trends in your area.
                    Explore detailed statistics and analysis to understand the
                    types of crimes occurring and take necessary precautions.</p>
                <button>View Statistics &#10148;</button>
            </div>
        </div>

        <div class="suspsection">
            <div class="card">
                <h4>Report Suspicious Activity</h4>
                <p>Help keep your community safe by reporting any suspicious activity you
                    observe. Your vigilance can prevent
                    potential crimes and protect your neighborhood.</p>
                <button>Report Now &#10148;</button>
            </div>
        </div>
        <footer>
            <ul>
                <li><a href="/faq">FAQ</a>&nbsp;&nbsp;|</li>
                <li><a href="/about">About Us</a>&nbsp;&nbsp;|</li>
                <li><a href="/cyberCrimes">Cyber Crimes</a>&nbsp;&nbsp;|</li>
                <li><a href="/report">Report incidents</a>&nbsp;&nbsp;|</li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </footer>

        <div class="box">
            <p>Copyright &copy; 2024 crimeReports</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
        integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/script.js"></script>
</body>

</html>