<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/report_style.css">
    <title>Incident Report</title>
</head>
<body>
    <h1> Report</h1>
    <form action="/report" method="post" enctype="multipart/form-data">
        <fieldset>
            <h2>Personal Information</h2>
            
            <input type="hidden" name="userId" value="<%= userId %>">
            <label for="fullName">Full Name:</label><br>
            <input type="text" id="fullName" name="fullName" placeholder="Enter full Name" required>

            <label for="age">Age:</label><br>
            <input type="number" id="age" name="age" placeholder="Enter age" required>

            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="" selected disabled>Select</option>
                <option type="male">Male</option>
                <option type="female">Female</option>
                <option type="other">Other</option>
            </select><br>

            <label for="mobileNumber">Mobile Number:</label><br>
            <input type="tel" id="mobileNumber" name="mobileNumber" placeholder="Enter mobile number" required>

            <label for="emailAddress">Email Address:</label><br>
            <input type="email" id="emailAddress" name="emailAddress" placeholder="Enter Email" required><br>

            <label for="address">Address:</label><br>
            <textarea id="address" name="address" rows="4" cols="50" placeholder="Enter your Address"
                required></textarea><br>
        </fieldset>
        <fieldset>
            <h2>Incident Details</h2>
            <label for="typeOfCrime">Type of crime:</label><br>
            <input type="text" id="typeOfCrime" name="typeOfCrime" required><br>

            <label for="dateTimeOfIncident">Date and Time of Incident:</label><br>
            <input type="datetime-local" id="dateTimeOfIncident" name="dateTimeOfIncident" required><br>
            
            <label for="stateUTS">State/UTS:</label><br>
            <input type="text" id="stateUTS" name="stateUTS" required><br>
            
            <label for="incidentOccur">Where did the incident occur?:</label><br>
            <input type="text" id="incidentOccur" name="incidentOccur" required><br>
            
            <label for="suspectName">Name of suspect (if known):</label><br>
            <input type="text" id="suspectName" name="suspectName"><br>
            
            <label for="suspectDetails">Any other detail of suspect:</label><br>
            <textarea id="suspectDetails" name="suspectDetails" rows="4" cols="50"></textarea><br>
            
            <label for="description">Description of incident:</label><br>
            <textarea id="description" name="description" rows="4" cols="50" required></textarea><br> 
            
            <label for="supportingDocuments">Upload supporting documents or screenshots:</label><br>
            <input type="file" id="supportingDocuments" name="supportingDocuments"><br><br>           
            <input type="submit">
        </fieldset>
    </form>
</body>
</html>