<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/safety_tips_style.css">
    <title>Document</title>
</head>
<body class="roboto-light">
    <header>
        <h1>Cyber Saftey Tips</h1>
    </header>
    <main>
        <div>
            <b>1. Use Strong and Unique Passwords:</b>
            <p>Create complex passwords that include a mix of uppercase and lowercase letters,
                numbers, and symbols. Avoid using easily guessable information like birthdays or
                names.</p>
        </div>

        <div>
            <b>2. Enable Two-Factor Authentication (2FA):</b>
            <p>Add an extra layer of security to your accounts by enabling 2FA whenever possible.
                This provides an additional step for verification beyond just a password</p>
        </div>

        <div>
            <b>3. Keep Software Updated:</b>
            <p>Regularly update your operating system, antivirus software, and applications.
                Updates often include security patches that protect against vulnerabilitie</p>
        </div>

        <div>
            <b> 4. Be Cautious with Email:</b>
            <p>Avoid clicking on links or downloading attachments from unknown or suspicious
                emails.Verify the legitimacy of emails, especially those requesting personal or
                financial information.</p>
        </div>

        <div>
            <b>5. Use Secure Wi-Fi Networks:</b>
            <p>Secure your home Wi-Fi network with a strong password and encryption.
                Avoid using public Wi-Fi for sensitive activities, and use a virtual private network
                (VPN)for added security.</p>
        </div>

        <div>
            <b>6. Be Mindful of Social Media Privacy:</b>
            <p>Review and adjust your social media privacy settings to control who can see your
                personal information.Be cautious about sharing sensitive details and accept friend
                requests only from people you know.</p>
        </div>

        <div>
            <b>7. Backup Your Data:</b>
            <p> Regularly back up important files and data. In the event of a cyber incident,
                having a backup ensures you don't lose valuable information.</p>
        </div>

        <div>
            <b>8. Educate Yourself on Phishing Attacks:</b>
            <p>Be skeptical of unsolicited emails, messages, or calls asking for personal
                information.Verify the legitimacy of requests before providing any sensitive data.
            </p>
        </div>

        <div>
            <b>9. Secure Your Mobile Devices:</b>
            <p>Use passcodes or biometric authentication on your smartphones and tablets.
                Install security apps, and keep your mobile operating system and apps up to date.</p>
        </div>

        <div>
            <b>10. Monitor Financial Statements:</b>
            <p>Regularly review bank statements, credit reports, and online accounts for any
                unauthorized or suspicious activity. Report any discrepancies immediately.</p>
        </div>

        <div>
            <b>11. Educate Your Family:</b>
            <p> Share cyber safety practices with your family, especially children, to ensure
                everyone understands the importance of online security.
            </p>
        </div>

        <div>
            <b>12. Limit Personal Information Online:</b>
            <P>Minimize the amount of personal information you share online. Be cautious about
                the details you provide on social media, forums, and other websites.</P>
        </div>

        <div>
            <b>13. Use Reputable Security Software:</b>
            <p> Install and regularly update reputable antivirus and anti-malware software on
                your devices to protect against various online threats.</p>
        </div>

        <div>
            <b>14. Stay Informed:</b>
            <p> Keep yourself informed about the latest cybersecurity threats and best practices.
                Stay up-to-date on security news and regularly check for updates from your device
                and software providers.</p>
        </div>

        <div>
            <b>15. Report Suspicious Activity:</b>
            <p>If you encounter any suspicious online activity or become a victim of cybercrime,
                report it to the appropriate authorities or use online reporting systems provided
                by law enforcement.</p>
        </div>
    </main>
</body>
</html>