.roboto-regular {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding-bottom: 17px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: inline-flexbox;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.otp {
    margin: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="email"] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

button {
    padding: 5px 8px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 4%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 23px;
}

button:hover {
    background-color: #2980b9;
}

.otp-conatiner {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

p {
    font-size: small;
}